.form_container {
    border: 1px solid black;
    width: 600px;
    height: 500px;
    margin: 10px 10px 0 0;
    padding-top: 50px;
}

.form_container input, .form_container button {
    display: block;
    width: 90%;
    margin: auto;
}

.form_container input {
    height: 40px;
    margin-bottom: 10px;
}

.form_container button {
    height: 35px;
    background-color: pink;
}

.source_url {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.autoComplete_container {
    width: 90%;
    margin: auto;
    background-color: pink;
    opacity: 0.5;
}

.autoComplete_container ul {
  list-style: none;
}

.autoComplete_container li {
    border-bottom: 1px solid black;
}
