.restaurants_chart {
    border: none;
    margin: auto;
    position: absolute;
    top: 100px;
    height: 450px;
    width: 560px;
    left: 20px;
}

.restaurants_svg {
    display: block;
    margin: auto;
    position: absolute;
}

.y_axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;   
}