.form_container {
    border: 1px solid black;
    width: 500px;
    height: 200px;
    float: right;
    margin: 10px 10px 0 0;
    padding-top: 50px;
}

.form_container input, .form_container button {
    display: block;
    width: 90%;
    margin: auto;
}

.form_container input {
    height: 40px;
    margin-bottom: 10px;
}

.form_container button {
    height: 35px;
    background-color: pink;
}
